@model IEnumerable<text_editor.Models.UserFiles>


<div class="row">
    @foreach (var document in Model)
    {
        <div class="col-2 justify-content-center align-items-center border" style="background-color:cornsilk;border-radius:18px;margin:10px;max-width:130px">
            <div class="d-flex justify-content-center align-items-center" style="font-size:100px;">
                <a style="text-decoration:none; color: black;" asp-action="Edit" asp-route-id="@document.Id"><img src="~/Images/docu.png" alt="ads" style="width:100px" /></a>
            </div>
            <span class="text-center d-flex align-items-center justify-content-center " style="font-weight: bold">@document.name</span>
        </div>

    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sharedId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sharedId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
